body{
    margin:0;
    padding:0;
    background-image: url(city.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#clock-container{
    display: flex;
    justify-content: center;  
    align-items:center;
    border:2px solid;
    height:100vh;
}
#clock{
    height:15vh;
    width:100vw;
    font-family: monospace;
    font-size:5em;
    font-weight:bold;
    text-align:center;
    line-height:2;
    color:white;
    backdrop-filter: blur(2px);
    border:2px dotted white;
    border-radius:20px;
    cursor: pointer;
    transition: 0.3s;
}