body{
    margin:0;
    padding:0;
    background-image: url(city.webp);
    background-position: center;
}
#clock-container{
    display: flex;
    justify-content: center;  
    align-items:center;
    border:2px solid;
    height:100vh;
}
#clock{
    font-family: monospace;
    font-size:5em;
    font-weight:bold;
    text-align:center;
    color: white;
}